.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 300px;
  -moz-column-gap: 300px;
  column-gap: 300px;
  margin-bottom: 25px;
  margin: 0;
  border-bottom: 1px solid #c4c4c4;
  padding: 30px 0;
}

.product {
  padding: 0 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 50vw;
}

.product_delete {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.product_img {
  margin-bottom: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.product_title {
  /* margin-left: 5vw; */
}

.product_size {
  font-size: 40px;
}

.product_price {
  font-family: 'Montserrat-SemiBold';
  font-size: 50px;
  text-align: left;
}

.product_taste {
  font-family: 'gilroy-regular';
  font-size: 26px;
  margin: 20px 0;
}

.product_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.product_buy_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 30px;
  margin-top: 40px;
}

.product_add,
.product_remove {
  color: rgba(56, 56, 56, 1);
  font-size: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.product_number {
  font-size: 30px;
  font-family: 'Montserrat-SemiBold';
  margin: 0 45px;
}

.product_add_basket {
  margin-left: 4.4vw;
  width: 10.4vw;
  height: 3.2vw;
  border: 0;
  font-family: 'Montserrat-SemiBold';
  color: white;
  background: #ffbe00;
  border-radius: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: 'gilroy-regular';
  src: url(../../fonts/gilroy-regular.ttf);
}

@media (min-width: 1700px) {
}
@media (max-width: 1300px) {
  .products {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
}
@media (max-width: 1200px) {
  .product_taste {
    margin-top: 15px;
  }
}
@media (max-width: 1100px) {
  .product_title {
    margin-left: 5vw;
  }
}

@media (max-width: 900px) {
  .product {
    text-align: center;
  }
  .product_buy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .product_add_basket {
    margin-top: 20px;
  }
  .product_add_basket {
    width: 20vw;
    height: 5vw;
    margin: 20px 0;
  }
}
@media (max-width: 800px) {
  .product_img {
    width: 80px;
  }
}
@media (max-width: 600px) {
  .products {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .product_size,
  .product_price {
    font-size: 20px;
  }
  .product_add_basket {
    width: 30vw;
    height: 7vw;
  }
  .product_taste {
    margin: 20px 0 35px;
  }
  .product_buy {
    margin-top: 20px;
  }
  .product_number {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .product_img {
    width: 60px;
  }
  .product_taste {
    font-size: 16px;
    margin: 20px 0;
  }
  .product {
    width: 100%;
    padding: 0;
  }
  .product_number {
    margin: 0 25px;
  }
  .product_delete {
    width: 15px;
  }
  .product_title {
    margin-left: 70px;
  }
  .product_buy {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .product_price {
    margin-bottom: 50px;
  }
}
